{% extends 'recognize/base.html'%}




{% block body%}

<div class="container-fluid mt-5 pt-5">
    <div class="row text-center mt-4">
        <div class="col col-12 col-md-7 col-lg-5 col-sm-10">
           
                    <div class="col border rounded mb-3 position-relative">
                        <video class="bg-secondary w-100 rounded" src="" id="video"  autoplay style="min-height: 200px;"></video>
                     <ion-icon id="capture" class="play bg-light shadow-lg p-1 rounded position-absolute" size="large" name="camera-outline"></ion-icon>
                      <span class="switch" id="switch">
                        <ion-icon name="camera-reverse-outline"></ion-icon>
                      </span>
                    </div>
                   
                    
                   <div class="toggle">
                    <canvas id="photo_toggle" class="ph">

                    </canvas>
                   </div>
                    
                </div>
                  <canvas width="100%" class="rounded 100%" id="photo">
                    </canvas>
              
                
            
    </div>
</div>

<div class="modal" id="modal1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header p-1 d-flex align-items-center position-relative">
              
               <p> <span id="data">Validating data</span><span class="spinner">....
                </span>
            </p>
                <button type="close" class="btn-close" data-bs-toggle="modal"></button>
    
            </div>
           

        
        </div>
    </div>
</div>
    
</body>
</html>




{% endblock%}